# Node Dependencies
node_modules/
package-lock.json

# Build Outputs
/build
/www
android/build/
android/app/build/
android/.gradle/
.gradle/
.kotlin/
.vscode/
.idea/

# Android Local & Temp
local.properties
android/local.properties
*.iml
*.log
.DS_Store
/captures
.externalNativeBuild
.cxx
# Android Keystores & Credentials
*.jks
*.keystore

# Firebase
.firebase/
